# 仮想環境
.venv/

# Pythonキャッシュ
__pycache__/
*.pyc

# 環境変数
.env

# SQLite
*.db

# 動画ファイル
movie/

# 画像ファイル
image/

# CSVファイル
csv/

# カメラ画像ファイル
image/

# YOLO model files
*.pt

# tapo network camera login information
network_camera_login.json